<nav class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <%= link_to "GreenTrail", root_path, class: "text-xl font-bold text-gray-800 hover:text-green-600" %>

    <div class="flex items-center space-x-4">
      <% if traveler_signed_in? %>
        
          <%= link_to "My Profile", traveler_path(current_traveler), class: "bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition ml-2" %>
          <%= link_to "Sign Out", destroy_traveler_session_path, method: :delete, class: "bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition" %>
      <% else %>
        <%= link_to "Sign Up", new_traveler_registration_path, class: "bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition" %>
        <%= link_to "Sign In", new_traveler_session_path, class: "bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition ml-2" %>
      <% end %>
    </div>
  </div>
</nav>